body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #e74c3c;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav {
    background-color: #3498db;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.container {
    display: flex;
    margin: 20px;
}

main {
    flex: 7; /* メインコンテンツの幅を増やす */
    background-color: #f39c12;
    padding: 20px;
}

main section {
    margin-bottom: 20px;
}

aside {
    flex: 1; /* サイドバーの幅を減らす */
    background-color: #e74c3c;
    padding: 20px;
    margin-left: 20px;
    text-align: left; /* サイドバーのテキストを左寄せ */
}

footer {
    background-color: #2ecc71;
    color: white;
    text-align: center;
    padding: 10px 0;
}

footer p {
    margin: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: left;
}

thead {
    background-color: #e74c3c;
    color: white;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    aside {
        margin-left: 0;
        text-align: center; /* モバイルでは中央揃えに */
    }
}
